# If you're not using docker
KIND_EXPERIMENTAL_PROVIDER=podman
# Path to your local Platform Mesh setup (used by hack/kubeconfig-copy.sh)
PORTAL_DIRECTORY=/path/to/your/local-setup

# This needs to be an admin kcp kubeconfig (not the kind cluster resource)
KCP_KUBECONFIG=
OPEN_SEARCH_INSECURE=true
OPEN_SEARCH_PASSWORD=admin
OPEN_SEARCH_USERNAME=admin
OPEN_SEARCH_URL=https://opensearch.portal.localhost:8443
OPENSEARCH_SEMANTIC_MODEL_ID=
SEARCHABLE_RESOURCE_RESOURCES={core.platform-mesh.io,v1alpha1,Account},{core.platform-mesh.io,v1alpha1,AccountInfo}
